#app-content-wrapper {
	overflow: hidden;
}

#keeporsweep-app {
	padding: 1em;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.element-container {
	background-color: #fff;
	filter: drop-shadow(0 1px 2px $color-box-shadow);
	border-radius: $border-radius;
	overflow: hidden;
	height: 320px;
	width: 250px;
	margin-bottom: 16px;
}

.element-container-2,
.element-container-3,
.element-container-4,
.element-container-empty {
	position: absolute;
	margin-top: -77px;
}

.element-container-2,
.element-container-4 {
	transform: rotate(-3deg);
}

.element-container-1 {
	z-index: 4;
}

.element-container-2 {
	z-index: 3;
}

.element-container-3 {
	z-index: 2;
}

.element-container-4 {
	z-index: 1;
}

.element-container-empty {
	z-index: -99999999999;
	filter: none;
	text-align: center;

	.element-empty {
		height: 200px;
		background-size: 64px;
		background-position: bottom center;
	}
}

.element-preview {
	min-height: 250px;
	background-size: 250px;
	background-repeat: no-repeat;
	background-position: center;

	&.element-preview-icon {
		background-size: 128px;
	}
}

.element-name,
.element-detail {
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.element-name {
	font-weight: bold;
	padding-bottom: 6px;
}

.element-detail {
	padding-top: 0;
	padding-left: 32px;
	background-position: 12px 2px;
	opacity: .5;
}

.action-keep,
.action-sweep {
	width: 70px;
	height: 70px;
	padding: 16px;
	padding-top: 42px;
	color: #fff;
	background-size: 32px;
	background-position: center 12px !important;
	border-radius: 50%;
	border: none;
}

.action-sweep {
	background-color: $color-error;

	&:hover,
	&:focus {
		background-color: nc-darken($color-error, 5%);
	}
	&:active {
		background-color: nc-darken($color-error, 10%) !important;
	}
}

.action-keep {
	background-color: $color-primary;
	margin-left: 32px;

	&:hover,
	&:focus {
		background-color: nc-darken($color-primary, 5%);
	}
	&:active {
		background-color: nc-darken($color-primary, 10%) !important;
	}
}
