.app-keeporsweep {
	overflow: hidden;
}

#app-content {
	padding: 1em;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.element-container {
	background-color: var(--color-main-background);
	filter: drop-shadow(0 1px 2px var(--color-box-shadow));
	border-radius: var(--border-radius-large);
	position: absolute;
	margin-top: -77px;
	margin-bottom: 16px;
	height: 320px;
	width: 250px;
}

.element-container-2,
.element-container-4 {
	transform: rotate(-3deg);
}

.element-container-1 {
	z-index: 4;
}

.element-container-2 {
	z-index: 3;
}

.element-container-3 {
	z-index: 2;
}

.element-container-4 {
	z-index: 1;
}

.element-container-empty {
	z-index: -99999999999;
	filter: none;
	text-align: center;
}

.element-container-empty .element-empty {
	height: 200px;
	background-size: 64px;
	background-position: bottom center;
}

.element-preview {
	min-height: 250px;
	background-size: 250px;
	background-repeat: no-repeat;
	background-position: center;
	border-top-left-radius: var(--border-radius-large);
	border-top-right-radius: var(--border-radius-large);
}
.element-preview.element-preview-icon {
	background-size: 128px;
}

.element-name,
.element-detail {
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.element-name {
	font-weight: bold;
	padding-bottom: 6px;
}

.element-detail {
	color: var(--color-text-maxcontrast);
	padding-top: 0;
	padding-left: 32px;
	background-position: 12px 2px;
}

.action-container {
	margin-top: 350px;
}

.action-keep,
.action-sweep {
	width: 80px !important;
	height: 80px !important;
	padding: 44px 0 16px !important;
	color: var(--color-primary-text) !important;
	background-size: 32px;
	background-position: center 12px !important;
	border-radius: 50% !important;
}

.action-sweep {
	background-color: var(--color-error) !important;
	border: 2px solid var(--color-error) !important;
}

.action-sweep:hover,
.action-sweep:focus {
	border: 2px solid var(--color-border) !important;
	filter: brightness(95%);
}

.action-sweep:active {
	border: 2px solid var(--color-border) !important;
	filter: brightness(90%);
}

.action-keep {
	background-color: var(--color-primary-element) !important;
	border: 2px solid var(--color-primary-element) !important;
	margin-left: 32px;
}

.action-keep:hover,
.action-keep:focus {
	border: 2px solid var(--color-border) !important;
	filter: brightness(95%);
}
.action-keep:active {
	border: 2px solid var(--color-border) !important;
	filter: brightness(90%);
}
